@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  margin: 50px;
  background-color: #111;
  font-family: 'Inconsolata', monospace;
}

.main {
  width: 400px;
  height: 100%;
  /*background-color: #222;*/
  color: white;
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
}

@media (max-width: 800px) {
  .main {
    width:100%;} /*The width is 100%, when the viewport is 800px or smaller*/
  }
